html,body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}
button:focus{
    outline: 0;
}
.header{
    height: 70px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: 20px;
    margin-left: 30px;
}
.img-logo{
    height: 25px;
    width: 120px;
}
.main-menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
    margin: auto;
}
.main-menu ul li{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    font-weight: normal;
}
.gap{
    margin-left: 30px;
}
.banner{
    height: 600px;
    width: 100%;
    background-size: cover;
    visibility: inherit;
    display: none;
}

#banner1{
    background-image: url("../images/full-width-images/section-bg-17.jpg");
    background-position: 0 -100px;
    display: flex;
}
#banner2{
    background-image: url("../images/full-width-images/section-bg-19.jpg");
}
#banner3{
    background-image: url("../images/full-width-images/section-bg-20.jpg");
    background-position: 0 -100px;
}
#banner4{
    background-image: url("../images/full-width-images/section-bg-18.jpg");
    background-position: 0 -100px;
}
.written-banner{
    margin: auto;
}
.we-are{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}
.design-lovers{
    color: white;
    text-align: center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    letter-spacing: 26px;
    left: 110.5px;
    top: 208.436px;
}
.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-button{
    background: transparent;
    color: white;
    border: white solid 2px;
    font-weight: 500;
    font-size: 12px;
    padding: 7px 31px;
    letter-spacing: 1px;
    outline: 0;
    margin-top: 50px;
    height: 40px;
    width: 150px;
    margin-left: 10px;
    border-radius: 2px;
}
.banner-button:hover{
    background-color: white;
    color: black;
    font-weight: lighter;
}
.banner-button:focus{
    outline: none;
}
.rhythm-studio-icon{
    height: 100px;
    text-align: center;
    color: white;
    font-size: 100px;
    margin-bottom: 20px;
    margin: auto;
}
.rhythm-studio{
    color: white;
    text-align: center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    letter-spacing: 26px;
    left: 110.5px;
    top: 208.436px;
    margin-top: 70px;
}
.lets-start{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.creative-studio{
    color: white;
    text-align: center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    letter-spacing: 26px;
    left: 110.5px;
    top: 208.436px;
    margin-top: 50px;
}
.branding{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.we-have-button{
    height: 35px;
    width: 170px;
    margin-top: 30px !important;
}
.banner-small{
    margin: auto;
    display: flex;
    width: 1170px;
    height: 275px;
}
.intro-video-left{
    height: 480px;
    width: 690px;
    padding: 15px;
}
.intro-video{
    color: white;
    text-align: left;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.we-have-art{
    color: white;
    text-align: left;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    left: 27.9px;
    top: 236.72px;
}
.we-have-video{
    height: 275px;
    width: 480px;
}
.hr1{
    background-color: rgba(255,255,255, .08);
    margin: 0;
}
.about-studio-div-big{
    max-height: 560px;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
}
.about-studio-div{
    width: 970px;
    height: 280px;
    margin: auto;
}
.abs1{
    display: flex;
    height: 100px;
    width: 970px;
    justify-content: space-between;
}
.about-studio{
    color: black;
    text-align: left !important;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top: 20px;
    margin-bottom: 70px;
}
.more-about-us{
    float: right !important;
    font-size: 11px;
    padding-top: 7px;
    color: #999999;
    letter-spacing: 0.4em;
    text-align: right !important;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 70px;
}
.row{
    display: flex;
    height: 180px;
    width: 970px;
}
.column{
    height: 180px;
    width: 33.33%;
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #777777;
}
.bar{
    width: 90%;
}
.page-section1{
    background-image: url(../images/full-width-images/section-bg-2.jpg);
    position: absolute;
    height: 1290px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.services-div-big{
    height: 845px;
    width: 100%;
    background-color: white;
    padding: 140px 0;
}
.services-heading{
    text-align: center;
    color: black;
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5em;
}
.services-div-big ul{
    padding: 30px 0;
    height: 180px;
    width: 1140px;
    margin: auto;
    list-style: none;
    display: flex;
}
.services-div-big ul li{
    height: 120px;
    width: 215px;
    padding: 15px 10px;
    margin-right: 2px;
}
.icon{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: 12px;
    color: rgb(163,163,163);
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}
.icon:hover{
    color: black;
    transition: all 0.27s;
}
.writeup{
    color: black;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: 100;
    text-align: center;
}
.description{
    padding: 30px 0;
    margin: auto;
    margin-top: 30px;
    display: flex;
    height: 250px;
    width: 1200px;
}
.des-quote{
    padding: 0 15px;
    width: 400px;
    height: 300px;
    color: #777777;
    margin-bottom: 0 !important;
}
.des-para{
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: 300;
}
.des-foot{
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 400;
}
.des-column{
    height: 300px;
    width: 400px;
    font-size: 15px;
    padding: 0 15px;
    color: #777777;
}
.view-all-sources{
    text-align: center;
    color: #999999;
    width: 1140;
    height: 22px;
    margin-top: 7px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
}
.view-all-sources:hover{
    color: black;
    transition-duration: 0.27s;
}
.lets-talk-div-big{
    height: 445px;
    background: transparent;
    position: relative;
}
.lets-talk-div{
    width: 1170px;
    height: 445px;
    margin: auto;
    padding: o 15px;
    display: flex;
}
.lets-talk-div-small1{
    height: 445px;
    width: 585px;
    padding: 0 15px;
    display: flex;
}
.lets-talk-smaller{
    height: 165px;
    width: 555px;
    margin: 80px 0;
    position: relative;
    margin: auto;
    flex-direction: column;
}
.lets-talk-heading{
    color: white;
    margin-bottom: 20;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 5.4px;
    line-height: 25.2px;
}
.lets-talk-des{
    height: 50px;
    width: 555px;
    margin-bottom: 35px;
    color: rgba(255,255,255,0.7);
}
.lets-talk-button{
    width: 155px;
    height: 35px;
    color: black;
    background-color:rgba(255,255,255,0.8);
    padding: 8px 37px;
    font-size: 12px;
    border: 2px solid transparent;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: none;
    border-radius: 2px;
    margin: auto;
}
.lets-talk-button:hover{
    background-color: white;
    transition: 0.27s;
}
.lets-talk-div-small2{
    height: 440;
    width: 530px;
    position: relative;
    margin-top: -40px;
    padding: 0 15px;
}
.work-process{
    height: 430px;
    width: 100%;
    background-color: white;
    padding: 140px 0;
    display: flex;
}
.work-process-small{
    height: 220px;
    width: 1170px;
    margin: auto;
    padding: 0 15px;
    display: flex;
}
.work-process-div-head{
    height: 220px;
    width: 290px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: rgb(119,119,119);
}
.work-process-heading{
    margin-bottom: 23.4px;
    color: rgb(119,119,119);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3.6px;
    text-align: left;
    margin-top: 0 !important;
}
.divs{
    height: 200px;
    width: 290px;
    padding-top: 10px;
}
.work-process-icon{
    height: 70px;
    width: 260px;
    margin: auto;
    font-size: 48px;
    text-align: center;
}
.work-process-icon-name{
    margin-top: 20px;
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.4em;
}
.latest-works{
    height: 705px;
    width: 100%;
}
.latest-works-written{
    width: 100%;
    height: 215px;
    padding-top: 160px;
}
.latest-works-heading{
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5em;
}
.latest-works-des{
    height: 120px;
    width: 780px;
    margin: auto;
    text-align: center;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}
.latest-works ul{
    list-style: none;
    display: flex;
    margin-left: -10px;
    height: 320px;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 170px;
}
.latest-works ul li{
    width: 520px;
    height: 320px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: block;
}
.latest-works-img{
    position: relative;
    height: 310px;
    width: 500px;
}
.latest-works-img:hover{
    transform: scale(0.5);
}
.latest-works-img-intro{
    bottom: -94px;
    padding: 20px 20px 0 20px;
    overflow: hidden;
    height: 84px;
    position: absolute;
    display: none;
}
.latest-works-img-head{
    margin-bottom: 8px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.latest-works-img-des{
    text-align: center;
    font-size: 11px;
    color: #aaaaaa;
    letter-spacing: 0.2em;
}
.lets-view-port{
    height: 220px;
    width: 100%;
    background-color: #111111;
    display: flex;
}
.lets-view-port-small{
    height: 80px;
    width: 1140px;
    margin: auto;
}
.lets-view-port-head{
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 0.3em;
    font-weight: 300;
}
.align-center{
    display: flex;
}
.lets-view-port-btn{
    border-radius: 2px;
    margin: auto;
    background-color:rgba(255,255,255,0.8);
    color: black;
    width: 240px;
    height: 35px;
    padding: 8px 37px;
    font-size: 12px;
    border: 2px solid transparent;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: none;
}
.lets-view-port-btn:hover{
    background-color: white;
    transition: 0.27s;
}
.why-choose-us{
    width: 100%;
    height :885px;
    background-color: white;
    display: flex;
}
.why-choose-us-small{
    height: 600px;
    width: 1170px;
    margin: auto;
}
.why-choose-us-head{
    color: black;
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5em;
}
.both-rows{
    margin-top: 70px;
}
.wcu-row{
    height: 280px;
    width: 1170px;
    display: flex;
}
.wcu-column{
    height: 280px;
    width: 390px;
    padding: 0 15px;
    margin-top: -70px;
}
.wcu-column-small{
    margin-top: 70px;
    height: 210px;
    width: 360px;
}
.wcu-column-icon{
    height: 70px;
    width: 360px;
    padding-top: 10px;
    font-size: 48px;
    text-align: center;
}
.wcu-column-head{
    margin-top: 20px;
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.4em;
    color: black;
}
.wcu-column-des{
    height: 75px;
    width: 360px;
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}
.page-section2{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.89), rgba(0, 0, 0, 0.89)), url("../images/full-width-images/section-bg-3.jpg");
    position: absolute;
    height: 1370px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.what-people-say{
    height: 485px;
    width: 100%;
    background: transparent;
    display: flex;
}
.what-people-say-small{
    height: 200px;
    width: 780px;
    margin: auto;
    padding: 0 15px;
}
.what-people-say-icon{
    height: 50px;
    width: 750px;
    margin-bottom: 7px;
    font-size: 32px;
    text-align: center;
    color: white;
}
.what-people-say-head{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3em;
    height: 25px;
    width: 750px;
    text-align: center;
    color: white;
}
.wps-quote{
    height: 60px;
    width: 750px;
    font-size: 18px;
    font-weight: 300;
    color: white;
}
.wps-para{
    text-align: center;
    margin-bottom: 18px;
}
.wps-foot{
    height: 15px;
    width: 750px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #777777;
}
.bestsellers{
    height: 940px;
    width: 100%;
    background-color: white;
    display: flex;
}
.bestsellers-small{
    height: 660px;
    width: 1170px;
    margin: auto;
}
.bestsellers-head{
    display: flex;
    height: 115px;
    width: 1170px;
    justify-content: space-between;
    padding: 0 15px;
}
.bestsellers-heading{
    margin-top: 20px;
    margin-bottom: 70px;
    color: black;
    text-align: left !important;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5em;
}
.our-shop{
    float: right !important;
    font-size: 11px;
    padding-top: 7px;
    color: #999999;
    letter-spacing: 0.4em;
    text-align: right !important;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 70px;
}
.bestsellers-options{
    display: flex;
    width: 1160px;
    height: 545px;
}
.option{
    height: 485px;
    width: 290px;
    margin-bottom: 60px;
    padding: 0 15px;
}
.option-img{
    margin-bottom: 23px;
    height: 335px;
    width: 260px;
    background-size: cover;
}
#img1{
    background-image: url("../images/shop/shop-prev-1.jpg");
}
#img2{
    background-image: url("../images/shop/shop-prev-2.jpg");
}
#img3{
    background-image: url("../images/shop/shop-prev-3.jpg");
}
#img4{
    background-image: url("../images/shop/shop-prev-4.jpg");
}
.option-title{
    height: 50px;
    width: 260px;
    font-size: 15px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #777777;
}
.option-price{
    margin-bottom: 22px;
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}
.option-price strong{
    font-weight: bold;
}
.add-to-cart{
    width: 140px;
    height: 25px;
    border-radius: 2px;
    margin: auto;
    background-color: #E5E5E5;
    color: #777777;
    padding: 4px 13px;
    font-size: 11px;
    border: 2px solid transparent;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: none;
    text-align: center;
    vertical-align: middle;
}
.add-to-cart:hover{
    color: #444444;
    background-color: #d5d5d5;
}
.awesome-template{
    height: 650px;
    width: 100%;
    background-color: white;
    display: flex;
}
.at-small{
    margin: auto;
    height: 370px;
    width: 1170px;
    display: flex;
}
.at-small-left{
    width: 680px;
    height: 370px;
    padding: 0 15px;
}
.at-img{
    height: 370px;
    width: 650px;
    background-image: url("../images/promo-3.png");
    background-size: cover;
}
.at-small-right{
    height: 370px;
    width: 490px;
    display: flex;
}
.at-right-small{
    margin: auto;
    margin-top: 0;
    width: 390px;
    height: 255px;
    padding: 0 15px;
}
.at-heading{
    color: #111111;
    text-align: left;
    margin-bottom: 30px;
    letter-spacing: 0.2em;
    font-size: 24px;
    font-weight: 400;
}
.at-des{
    margin-bottom: 32px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: #5f5f5f;
}
.buy-now{
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 2px;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    box-shadow: none;
    font-size: 11px;
    font-weight: 500;
    color: #5f5f5f;
    width: 145px;
    height: 35px;
    padding: 8px 37px;
    letter-spacing: 2px;
}
.buy-now:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}
.clear-design{
    height: 650px;
    width: 100%;
    background-color: white;
    display: flex;
}
.cd-img{
    height: 370px;
    width: 650px;
    background-image: url("../images/promo-4.png");
    background-size: cover;
}
.scroll-icons{
    height: 430px;
    width: 100%;
    background-image: url("../images/full-width-images/section-bg-17.jpg");
    background-size: cover;
    background-position: -200px;
    display: flex;
    background-position-x: initial;
}
.si-small{
    width: 1140px;
    height: 200px;
    padding: 0px 15px;
    margin: auto;
}
.si-row{
    display: flex;
    margin-bottom: 50px !important;
    margin: auto;
    width: 1110px;
    height: 150px;
    padding-top: 10px;
}
.si-column{
    width: 370px;
    height: 150px;
    padding: 15px;
}
.si-icon{
    width: 340px;
    height: 60px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 48px;
    font-weight: 200;
    line-height: 48px;
}
.si-title{
    margin-bottom: 3px;
    height: 30px;
    width: 340px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0.2em;
}
.si-des{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    width: 340px;
    height: 25px;
}
.scroller{
    height: 25px;
    width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    color: white;
    font-size: 6px;
}
.latest-news{
    background-color: white;
    height: 800px;
    width: 100%;
    display: flex;
}
.ln-small{
    margin: auto;
    height: 520px;
    width: 1170px;
}
.ln-row{
    height: 405px;
    display: flex;
    width: 1170px;
}
.ln-column{
    height: 405px;
    width: 390px;
    padding: 0 15px;
}
.ln-column-img{
    height: 195px;
    width: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 23px;
}
#ln-column-img1{
    background-image: url("../images/blog/post-prev-1.jpg");
}
#ln-column-img2{
    background-image: url("../images/blog/post-prev-2.jpg");
}
#ln-column-img3{
    background-image: url("../images/blog/post-prev-3.jpg");
}
.ln-column-title{
    margin-bottom: 6px;
    height: 25px;
    width: 360px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.2em;
    line-height: 1.6;
    color: #777777;
}
.ln-column-info{
    margin-bottom: 15px;
    width: 360px;
    height: 15px;
    text-align: left;
    font-size: 11px;
    color: #aaaaaa;
    letter-spacing: 0.2em;
}
.ln-column-des{
    margin-bottom: 22px;
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}
.read-more{
    width: 120px;
    height: 25px;
    border-radius: 2px;
    background-color: #E5E5E5;
    color: #777777;
    padding: 4px 13px;
    font-size: 11px;
    border: 2px solid transparent;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: none;
    text-align: center;
    vertical-align: middle;
}
.read-more:hover{
    color: #444444;
    background-color: #d5d5d5;
}
.stay-infor{
    width: 100%;
    height: 255px;
    background-color: #f8f8f8;
    display: flex;
}
.stay-infor-small{
    height: 115px;
    width: 780px;
    margin: auto;
    padding: 0 15px;
}
.stay-infor-head{
    margin-bottom: 15px;
    width: 750px;
    height: 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-align: center;
    color: black;
}
.stay-infor-middle{
    display: flex;
    width: 453px;
    height: 37px;
    margin-bottom: 20px !important;
    margin: auto;
}
.input-box{
    padding: 6px 13px;
    height: 37px;
    width: 293px;
    font-size: 12px;
    text-align: left;
    background-color: white;
    vertical-align: middle;
    font-weight: 400;
    letter-spacing: 1px;
    color: #777777;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px !important;
    margin: auto;
}
.subscribe{
    border-radius: 2px;
    background-color: rgba(34,34,34,0.9);
    color: #ffffff;
    padding: 8px 37px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    user-select: none;
    height: 36px;
    width: 160px;
    border: 2px solid transparent;
    text-decoration: none;
    box-shadow: none;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.subscribe:hover{
    background-color: #4A4A4A;
    border: 2px solid #4A4A4A;
    transition: all 0.2s;
}
.stay-infor-foot{
    width: 750px;
    height: 17px;
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
}
.find-us{
    height: 480px;
    width: 100%;
    background-color: white;
    display: flex;
}
.find-us-small{
    margin: auto;
    height: 200px;
    width: 780px;
}
.find-us-head{
    width: 780px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5em;
    text-align: center;
    color: rgb(17,17,17);
}
.find-us-row{
    width: 780px;
    height: 85px;
    display: flex;
}
.find-us-column{
    height: 85px;
    width: 260px;
    padding: 15px 20px;
    display: flex;
}
.find-us-column-icon{
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 32px;
}
.find-us-column-info{
    width: 185px;
    height: 55px;
    padding: 4px 10px;
}
.fu-column-title{
    margin-bottom: 1px;
    text-align: left;
    width: 165px;
    height: 20px;
    color: #777777;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.fu-column-des{
    text-align: left;
    width: 165px;
    height: 25px;
    font-size: 15px;
    font-weight: 300;
    color: #444444;
}
.website-footer{
    width: 100%;
    height: 435px;
    background-color: #f8f8f8;
    padding-top: 140px;
    padding-bottom: 60px;
}
.wf-small{
    width: 1170px;
    height: 235px;
    margin: auto;
    padding: 0 15px;
}
.wf-small-img{
    margin-bottom: 30px;
    width: 1140px;
    height: 30px;
    display: flex;
}
.wf-img{
    height: 30px;
    width: 80px;
    margin: auto;
    padding: 0 2px;
}
.wf-icons{
    width: auto;
    display: flex;
    height: auto;
    text-align: center;
    font-size: 22px;
    margin-bottom: 100px !important;
    justify-content: center;
}
.footer-text{
    height: 40px;
    width: 1140px;
}
.copyright{
    margin-bottom: 5px;
    letter-spacing: 0.5em;
    text-align: center;
    font-size: 12px;
    color: #888888;
}
.copyright:hover{
    color: black;
    transition: all 0.27s;
    text-decoration: underline;
}
.copyright-text{
    height: 20px;
    width: 1140px;
    font-size: 11px;
    text-align: center;
    color: #999999;
}